.buttons
    ul.row.unstyled
        li.input
            span.square 1
        li.input
            span.square 2
        li.input
            span.square 3
        li.input
            span.square 4
        li.input
            span.square 5
    ul.row.unstyled
        li.input
            span.square 6
        li.input
            span.square 7
        li.input
            span.square 8
        li.input
            span.square 9
        li.input.last
            span.square.remove X
