.game-info
    .game-won-prompt
        h1 You Won!!!
        p Reload to play this puzzle again

    .rules
        a.how-to-play.close.unstyled(href="#") X
        h1 How To Play
        ul.unstyled
            li
                | Sudoku Rules (
                a(href="http://en.wikipedia.org/wiki/Sudoku", target="_blank") Go to Wikipedia link
                | )
            li.
                Click on an area inside the puzzle. You can add a number using your keyboard
                or with the numeric buttons below the puzzle.
            li Use the [X] button to remove a selection. note: you can't remove default values!
            li The game ends when all big squares have been filled out.
