.puzzle
    .row
        .region
            .row
                .position(data-region="0" data-position="0,0")
                .position(data-region="0" data-position="0,1")
                .position(data-region="0" data-position="0,2")
            .row
                .position(data-region="0" data-position="1,0")
                .position(data-region="0" data-position="1,1")
                .position(data-region="0" data-position="1,2")
            .row
                .position(data-region="0" data-position="2,0")
                .position(data-region="0" data-position="2,1")
                .position(data-region="0" data-position="2,2")

        .region
            .row
                .position(data-region="1" data-position="0,0")
                .position(data-region="1" data-position="0,1")
                .position(data-region="1" data-position="0,2")
            .row
                .position(data-region="1" data-position="1,0")
                .position(data-region="1" data-position="1,1")
                .position(data-region="1" data-position="1,2")
            .row
                .position(data-region="1" data-position="2,0")
                .position(data-region="1" data-position="2,1")
                .position(data-region="1" data-position="2,2")

        .region
            .row
                .position(data-region="2" data-position="0,0")
                .position(data-region="2" data-position="0,1")
                .position(data-region="2" data-position="0,2")
            .row
                .position(data-region="2" data-position="1,0")
                .position(data-region="2" data-position="1,1")
                .position(data-region="2" data-position="1,2")
            .row
                .position(data-region="2" data-position="2,0")
                .position(data-region="2" data-position="2,1")
                .position(data-region="2" data-position="2,2")

    .row
        .region
            .row
                .position(data-region="3" data-position="0,0")
                .position(data-region="3" data-position="0,1")
                .position(data-region="3" data-position="0,2")
            .row
                .position(data-region="3" data-position="1,0")
                .position(data-region="3" data-position="1,1")
                .position(data-region="3" data-position="1,2")
            .row
                .position(data-region="3" data-position="2,0")
                .position(data-region="3" data-position="2,1")
                .position(data-region="3" data-position="2,2")

        .region
            .row
                .position(data-region="4" data-position="0,0")
                .position(data-region="4" data-position="0,1")
                .position(data-region="4" data-position="0,2")
            .row
                .position(data-region="4" data-position="1,0")
                .position(data-region="4" data-position="1,1")
                .position(data-region="4" data-position="1,2")
            .row
                .position(data-region="4" data-position="2,0")
                .position(data-region="4" data-position="2,1")
                .position(data-region="4" data-position="2,2")

        .region
            .row
                .position(data-region="5" data-position="0,0")
                .position(data-region="5" data-position="0,1")
                .position(data-region="5" data-position="0,2")
            .row
                .position(data-region="5" data-position="1,0")
                .position(data-region="5" data-position="1,1")
                .position(data-region="5" data-position="1,2")
            .row
                .position(data-region="5" data-position="2,0")
                .position(data-region="5" data-position="2,1")
                .position(data-region="5" data-position="2,2")

    .row
        .region
            .row
                .position(data-region="6" data-position="0,0")
                .position(data-region="6" data-position="0,1")
                .position(data-region="6" data-position="0,2")
            .row
                .position(data-region="6" data-position="1,0")
                .position(data-region="6" data-position="1,1")
                .position(data-region="6" data-position="1,2")
            .row
                .position(data-region="6" data-position="2,0")
                .position(data-region="6" data-position="2,1")
                .position(data-region="6" data-position="2,2")

        .region
            .row
                .position(data-region="7" data-position="0,0")
                .position(data-region="7" data-position="0,1")
                .position(data-region="7" data-position="0,2")
            .row
                .position(data-region="7" data-position="1,0")
                .position(data-region="7" data-position="1,1")
                .position(data-region="7" data-position="1,2")
            .row
                .position(data-region="7" data-position="2,0")
                .position(data-region="7" data-position="2,1")
                .position(data-region="7" data-position="2,2")

        .region
            .row
                .position(data-region="8" data-position="0,0")
                .position(data-region="8" data-position="0,1")
                .position(data-region="8" data-position="0,2")
            .row
                .position(data-region="8" data-position="1,0")
                .position(data-region="8" data-position="1,1")
                .position(data-region="8" data-position="1,2")
            .row
                .position(data-region="8" data-position="2,0")
                .position(data-region="8" data-position="2,1")
                .position(data-region="8" data-position="2,2")