@import "variables"

body
  background-color: primary-bgcolor
  color: primary-text-color
  font-family: 'Open Sans', sans-serif
  margin: .1em 0 0


a
  color: link-color
  &.unstyled
    text-decoration: none


ul.unstyled
  margin: 0
  padding-left: 20px


.container, .game
  overflow: hidden


.game-info
  color: secondary-text-color
  h1
    text-align: center
    text-transform: uppercase
  .game-won-prompt
    text-align: center


.table
  display: table


.inline-table
  display: inline-table


.row
  display: table-row


.cell
  display: table-cell


.puzzle
  width: 100%
  text-align: center


.buttons
  margin-top: 10px
  width: 100%


.region
  margin: 2px


.position, .input
  background-color: secondary-bgcolor
  cursor: pointer
  line-height: position-default-box-size
  height: position-default-box-size
  margin: 2px
  width: position-default-box-size
  text-align: center


.input
  height: input-button-default-height
  line-height: input-button-default-height


.position
  -webkit-transition: background-color .2s
  transition: background-color .2s
  &.success
    background-color: position-success-bg-color
  &.fail
    background-color: position-fail-bg-color
  &:before
    content: "."
    color: transparent


position:hover, .input:hover
  background-color: position-hover-bg-color
  color: secondary-text-color


.square
  display: inline-block
  width: 100%


.selected
  background-color: position-selected-bg-color
  color: secondary-text-color


@import "media-queries"
@import "helpers"
