primary-bgcolor = #222
secondary-bgcolor = #333
primary-text-color = #AAA
secondary-text-color = #EEE
link-color = #DDD

position-hover-bg-color = #008080
position-success-bg-color = #228B22
position-fail-bg-color = #8B0000
position-selected-bg-color = #6495ED

position-default-box-size = 2.6em
input-button-default-height = 3em
