@import "variables"

body
  background-color: primary-bgcolor
  color: primary-text-color
  font-family: 'Open Sans', sans-serif
  margin: .1em 0 0


a
  color: link-color
  &.unstyled
    text-decoration: none


ul.unstyled
  margin: 0
  padding-left: 20px


.container, .game
  overflow: hidden


.game-info
  color: secondary-text-color
  h1
    text-align: center
    text-transform: uppercase
  .how-to-play.close
    display: none
  .game-won-prompt
    text-align: center


.how-to-play
  display: none


.game-won-prompt
  display: none
  &.show
    display: block


.puzzle, .buttons
  display: table


.puzzle
  width: 100%
  text-align: center


.buttons
  margin-top: 10px
  width: 100%


.region
  display: inline-table
  margin: 2px


.row
  display: table-row


.position, .input
  background-color: secondary-bgcolor
  cursor: pointer
  display: table-cell
  line-height: position-default-box-size
  height: position-default-box-size
  margin: 2px
  width: position-default-box-size
  text-align: center


.input
  height: input-button-default-height
  line-height: input-button-default-height


.position
  -webkit-transition: background-color .2s
  transition: background-color .2s


.position:hover, .input:hover
  background-color: position-hover-bg-color
  color: secondary-text-color


.position.success
  background-color: position-success-bg-color


.position.fail
  background-color: position-fail-bg-color


.position:before
  content: "."
  color: transparent


.square
  display: inline-block
  width: 100%


.selected
  background-color: position-selected-bg-color
  color: secondary-text-color


@import "media-queries"
@import "helpers"
